{{template "base" .}}

{{define "content"}}

<main class="container">
  <div class="row">
    <div class="col">
      <img
        src="/static/images/generals-quarters.png"
        alt="room image"
        class="img-fluid img-thumbnail mx-auto d-block room-image"
      />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General's Quarters</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
        voluptate nemo expedita recusandae reiciendis, dignissimos sequi ad
        atque pariatur. Sed odit iusto iste deleniti impedit! Lorem, ipsum dolor
        sit amet consectetur adipisicing elit. Provident voluptate nemo expedita
        recusandae reiciendis, dignissimos sequi ad atque pariatur. Sed odit
        iusto iste deleniti impedit! Lorem, ipsum dolor sit amet consectetur
        adipisicing elit. Provident voluptate nemo expedita recusandae
        reiciendis, dignissimos sequi ad atque pariatur. Sed odit iusto iste
        deleniti impedit!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <a id="check-availability-button" href="#!" class="btn btn-success"
        >Check Availability</a
      >
    </div>
  </div>
</main>

{{ end }}

{{define "js"}}
<script>
  CheckAvailability('1');
</script>
{{ end }}
